* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
}

body {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    text-align: center;
    padding: 20px 0;
}

.lista-cadastro {
    display: flex;
    margin: 20px 0;
    padding: 20px;
    justify-content: center;
}

.lista-cadastro input[type=text] {
    flex: 1;
    height: 40px;
    padding-left: 20px;
    max-width: 550px;
}

.lista-cadastro input[type=number] {
    width: 100px;
    padding-left: 20px;
}

.lista-cadastro input[type=submit] {
    padding: 0 15px;
    font-size: 16px;
}

.lista-produto-single {
    padding: 10px 0;
    margin: 20px 0px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.lista-produto-single h3 {
    padding: 0 20px;
}

h3.amount-produto {
    font-size: 27px;
}

h3.name-produto {
    font-size: 27px;
}

h3.price-produto {
    font-size: 20px;
}

h3.price-produto>span {
    background-color: #ce9700;
    padding: 4px 10px;
    border-radius: 20px;
    color: white;
}

.soma-produto {
    margin: 20px;
    text-align: center;
    margin-top: 34px;
}

.botao {
    text-align: center;
}

button[name=limpar] {
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 16px;
    border-radius: 20px;
}


/* MOBILE */

@media screen and (max-width: 913px) {
    .lista-cadastro {
        display: flex;
        margin: 20px 0;
        padding: 10px;
        justify-content: center;
    }
    .lista-cadastro input[type=number] {
        width: 75px;
        padding: 0 5px;
        text-align: center;
    }
    .lista-cadastro input[type=submit] {
        padding: 0 5px;
        font-size: 18px;
    }
    .lista-produto-single h3 {
        padding: 0 20px;
    }
    h3.amount-produto {
        font-size: 18px;
    }
    h3.name-produto {
        font-size: 18px;
    }
    h3.price-produto {
        font-size: 18px;
    }
    h3.price-produto>span {
        background-color: #ce9700;
        padding: 5px 5px;
        border-radius: 20px;
        color: white;
        font-size: 16px;
    }
    .soma-produto {
        font-size: 12px;
    }
}